<nav role="navigation">
    <div>
        <div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/table">Data</a></li>
            </ul>
        </div>
    </div>
</nav>