<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<html>

  	<head>
    	<% include ./partials/head %>
	</head>

	<p class = bold>Welcome to the Country Bounding Box Website</p>

  	<body class = body_generic>

	  	<header>
	    	<% include ./partials/header %>
		</header>

    	<footer>
    		<% include ./partials/footer %>
		</footer>

  	</body>

</html>
